.service{
	height:250px;
	background-color: #ededed;
	border:1px solid black;
}
.image-box{
	width:100%;
	background-image: url('../img/banner.jpg');
	height:480px;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;
	
}

img{
	width:100%;
}
